header(style="background-color:lightblue")
    nav.navbar.navbar-expand-lg.navbar-light.container
        a.navbar-brand.text-center(href="")
            span.h2.text-primary Spring
            sup.text-muted.font-weight-light.font-italic.mt-n3.small  Market
            br
            span.text-muted(style="font-size:12px") find every thing
        button.navbar-toggler(data-toggle="collapse",data-target="#spring_navbar",aria-expand="false")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#spring_navbar
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="#")
                        span Home
                li.nav-item
                    a.nav-link(href="#")
                        span Products
                // dropdown menu start
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#shops_menu(data-toggle="dropdown", aria-expanded="false", aria-haspopup="true", role="button",href="#") Shops
                    .dropdown-menu(aria-labelledby="#shop_menu")
                        .container
                            .row.mx-auto
                                .col-lg-12.row.mx-auto.justify-content-center
                                    p.col-12.text-center Fashion
                                    .col-lg-auto
                                        p.dropdown-header.text-light
                                            span.mr-1 
                                                i.fa.fa-male
                                            span Men
                                        ul.nav
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link1
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link2
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link3
                                    .col-lg-auto
                                        p.dropdown-header.text-light
                                            span.mr-1 
                                                i.fa.fa-female
                                            span Women
                                        ul.nav
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link1
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link2
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link3
                                    .col-lg-auto
                                        p.dropdown-header.text-light
                                            span.mr-1 
                                                i.fa.fa-baby
                                            span Baby
                                        ul.nav
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link1
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link2
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link3
                                .col-12.row.mx-auto.justify-content-center
                                    p.col-12.text-light.text-center Electronics
                                    .col-lg-auto
                                        p.dropdown-header.text-light 
                                            span.mr-1 <i class="fa fa-tv"></i>
                                            span Home Appliance
                                        ul.nav
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link1
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link2
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link3
                                    .col-lg-auto
                                        p.dropdown-header.text-light 
                                            span.mr-1 <i class="fa fa-laptop"></i>
                                            span laptops
                                        ul.nav
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link1
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link2
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link3
                                    .col-lg-auto
                                        p.dropdown-header.text-light 
                                            span.mr-1 <i class="fa fa-mobile-alt"></i>
                                            span Mobiles
                                        ul.nav
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link1
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link2
                                            li.nav-item.col-lg-12.col-auto
                                                a.nav-link.small(href="") Link3
                    // dropdown menu end
                    li.nav-item
                        a.nav-link(href="#")
                            span Help
            hr.d-lg-none.d-block
            ul.nav.ml-auto.justify-content-center
                li.nav-item.col-lg-auto.col-12.mb-lg-0.mb-2.mr-2.border-bottom.border-primary
                    form.row.mx-auto(action="")
                        input.col.form-control-plaintext.pl-1(type="text",style="outline:none",placeholder="search something")
                        button.btn.col-auto.text-primary(type="submit")
                            span
                                i.fa.fa-search
                li.nav-item.mx-1
                    a.badge.badge-success.p-2(href="")
                        span login
                li.nav-item.mx-1
                    a.badge.badge-primary.p-2(href="")
                        span sign up
