extends layout/app.pug
block content
    .warpper.bg-light
        include components/navbar/navbar
        .row.mx-auto.container.bg-white
            include components/showcase
            include components/section/section

            
