header(style="background-color:lightblue")
    div.bg-dark.text-light.py-0
        .row.mx-auto.d-lg-flex.d-none.container.px-2.py-0
            .col-lg.py-1
                a.mx-2.text-light(href="")
                    span
                        i.fab.fa-facebook
                a.mx-2.text-light(href="")
                    span
                        i.fab.fa-twitter
                a.mx-2.text-light(href="")
                    span
                        i.fab.fa-instagram
                a.mx-2.text-light(href="")
                    span
                        i.fa.fa-phone.fa-rotate-90
                    span.font-weight-light.ml-2 +02 0333457863
            .col-lg.text-center
                span.small.font-weight-light Spring store : mega online store
            .col-lg
                ul.nav.justify-content-end
                    li.nav-item.dropdown
                        a.dropdown-toggle.nav-link.small.text-light(href="",id="lang",data-toggle="dropdown") EN
                        .dropdown-menu(aria-labelledby="#lang")
                            span.dropdown-header.small Select langauge
                            a.dropdown-item.small(href="") Ar
                            a.dropdown-item.small(href="") Fr
                    li.nav-item.dropdown
                        a.dropdown-toggle.nav-link.small.text-light(href="",id="currency",data-toggle="dropdown") EGP
                        .dropdown-menu(aria-labelledby="#curreny")
                            span.dropdown-header.small Select Currency
                            a.dropdown-item.small(href="") USD
                            a.dropdown-item.small(href="") EUR

    nav.navbar.navbar-expand-lg.navbar-light.container
        a.navbar-brand.text-center(href="")
            span.h2.text-primary Spring
            sup.text-muted.font-weight-light.font-italic.mt-n3.small  Market
            br
            span.text-muted(style="font-size:12px") find every thing
        button.navbar-toggler(data-toggle="collapse",data-target="#spring_navbar",aria-expand="false")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#spring_navbar
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="#")
                        span Home
                // dropdown menu start
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#shops_menu(data-toggle="dropdown", aria-expanded="false", aria-haspopup="true", role="button",href="#") Categories
                    include navbar-dropdown
                    // dropdown menu end
                    li.nav-item
                        a.nav-link(href="#")
                            span Help
            hr.d-lg-none.d-block
            ul.nav.ml-auto.justify-content-center
                li.nav-item.col-lg-auto.col-12.mb-lg-0.mb-2.mr-2.border-bottom.border-primary
                    form.row.mx-auto(action="")
                        input.col.form-control-plaintext.pl-1.text-danger(type="text",style="outline:none",placeholder="search something")
                        button.btn.col-auto.text-primary(type="submit")
                            span
                                i.fa.fa-search
                li.nav-item.mx-1
                    a.badge.badge-success.p-2(href="")
                        span login
                li.nav-item.mx-1
                    a.badge.badge-primary.p-2(href="")
                        span sign up
