.dropdown-menu(aria-labelledby="#shop_menu")
    .container
        .row.mx-auto
            .col-lg-12.row.mx-auto.justify-content-center
                p.col-12.text-center Fashion
                .col-lg-auto
                    p.dropdown-header.text-light
                        span.mr-1 
                            i.fa.fa-male
                        span Men
                    ul.nav
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link1
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link2
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link3
                .col-lg-auto
                    p.dropdown-header.text-light
                        span.mr-1 
                            i.fa.fa-female
                        span Women
                    ul.nav
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link1
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link2
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link3
                .col-lg-auto
                    p.dropdown-header.text-light
                        span.mr-1 
                            i.fa.fa-baby
                        span Baby
                    ul.nav
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link1
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link2
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link3
            .col-12.row.mx-auto.justify-content-center
                p.col-12.text-light.text-center Electronics
                .col-lg-auto
                    p.dropdown-header.text-light 
                        span.mr-1 <i class="fa fa-tv"></i>
                        span Home Appliance
                    ul.nav
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link1
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link2
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link3
                .col-lg-auto
                    p.dropdown-header.text-light 
                        span.mr-1 <i class="fa fa-laptop"></i>
                        span laptops
                    ul.nav
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link1
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link2
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link3
                .col-lg-auto
                    p.dropdown-header.text-light 
                        span.mr-1 <i class="fa fa-mobile-alt"></i>
                        span Mobiles
                    ul.nav
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link1
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link2
                        li.nav-item.col-lg-12.col-auto
                            a.nav-link.small(href="") Link3